fileCopy.py
fileCopy1.py
fileCopy2.py
fileCopy3.py
fileCopy4.py
fileCopy6.py
tempCodeRunnerFile.py
test.txt
time.py
folderEnd/20230419/file1.txt
folderEnd/20230419/file2.txt
folderEnd/20230419/file3.txt
folderEnd/20230419/file4.txt
folderEnd/20230419/file5.txt
folderEnd/20230419/test.txt
folderEnd/20230419/DUMP/HFS_timestamp_SAT_GAZELLE-1.tst
folderEnd/20230419/DUMP/HFS_timestamp_SAT_METOP-1.jpg
folderEnd/20230419/DUMP/HFS_timestamp_SAT_METOP-3.lfe
folderEnd/20230419/DUMP/HFS_timestamp_SAT_METOP-SIM.png
folderEnd/20230419/DUMP/HFS_timestamp_SAT_NOAA-15.fss
folderEnd/20230419/DUMP/HFS_timestamp_SAT_NOAA-18.csv
folderEnd/20230419/DUMP/HFS_timestamp_SAT_NOAA-19.dmp
folderEnd/20230419/DUMP/HFS_timestamp_SAT_NOAA-SIM.tst
folderEnd/20230419/DUMP/HFS_timestamp_SAT_OCEANSAT.tst
folderEnd/20230419/DUMP/HFS_timestamp_SAT_SERAL-1.tst
folderEnd/20230419/GIF/IR1/timestampSAT.gif
folderEnd/20230419/GIF/IR2/timestamp_NOAA-18.gif
folderEnd/20230419/GIF/IR3/timestampSAT.gif
folderEnd/20230419/GIF/VIS1/timestampSAT.gif
folderEnd/20230419/GIF/VIS2/timestampSAT.gif
folderEnd/20230419/JPG/1ovf/timestampSAT.JPG
folderEnd/20230419/JPG/4ovf/timestampSAT.JPG
folderEnd/20230419/JPG/IR2/timestampn01.JPG
